# Functions, types, loops assignment

## Exercise 1

Add a line of code that will generate the give output::

     In [ ]: a_list = [2,7,8, 19]
             YOUR CODE HERE
     Out [ ]: 2
     
NOTE: The idea of this kind of exercise is to write a line of code
that will produce the given output, 2 in this case.  Your
answer goes in the next cell, which is a code cell.  It should this be an
expression that operates on `a_list`.  A simple correct answer is:

     In [ ]: a_list = [2,7,8, 19]
             a_list[0]
     Out [ ]: 2
     
Don't forget to evaluate the cell after you've written in your answer to generate Python's output and check your answer!

In [3]:
a_list = [2,7,8, 19]
a_list[0]

2

## Exercise 2

  Write a line of code that produces the given output.  Use a splice with a "steps" component.
   
    In [ ]: X = 'abcdefghij'
             YOUR CODE HERE
    Out [ ]: 'acegi'

In [2]:
X  = 'abcdefghij'
X[0::2]

'acegi'

In [9]:
X  = 'abcdefghijklmnop'
X[0::2]

'acegikmo'

## Exercise 3

 Write a line of code that produces the given output:
   
     In [ ]: S, T = set('abc'), set('cde')
           YOUR CODE HERE
     Out [ ]: {'c'}

Hint.  Each Python type has its own methods.  For instance, strings have a `.title()` method that capitalizes them.  For this problem use a method that is particular to **sets** on the two sets `S` and `T`.  See the [Set Operations Notebook](https://colab.research.google.com/github/gawron/python-for-social-science/blob/master/intro/set_operations.ipynb) for a discussion of set methods. Also see [Van DerPlas's Whirlwind Tour, Ch. 6.](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/06-Built-in-Data-Structures.ipynb)

In [4]:
S, T = set('abc'), set('cde')
S & T

{'c'}

In [10]:
S, T = set('phi'), set('fil')
S & T

{'i'}

## Exercise 4

 Write a line of code that produces the given output:
   
     In [ ]: a_list = [2,7,8, 19]
           YOUR CODE HERE
     Out [ ]: [22,27,28,39]
    
Hint: Try a list comprehension. Look at [Whirlwind Tour](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/11-List-Comprehensions.ipynb) for a quick review of list comprehensions.

In [5]:
a_list = [2,7,8, 19]
[x + 20 for x in a_list]

[22, 27, 28, 39]

In [6]:
a_list = [2,7,8, 19,20]
[x + 20 for x in a_list]

[22, 27, 28, 39, 40]

## Exercise 5

Write a line of code that produces the given output.

Hint Remember that list comprehensions can also be used as filters. Look at [Whirlwind Tour](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/6f1daf714fe52a8dde6a288674ba46a7feed8816/11-List-Comprehensions.ipynb) for a quick review of list comprehensions.

```
In [ ]: a_list = [2,7,8, 19]
In [ ]: # Your code           
Out [ ]: [22,27]
 ```

In [15]:
# YOUR CODE GOES UNDER HERE
a_list = [2,7,8, 19]
[x + 20 for x in a_list if x < 8]

[22, 27]

In [17]:
a_list = [1,2,5,6,7,8, 19]
[x + 20 for x in a_list if x < 8]

[21, 22, 25, 26, 27]

## Exercise 6

Write a function that finds all the consonants in a string.  As a help, the list of vowels is given below.  The beginning
of the function definition has been given with a `pass` as the body.  

It should work as in the following examples.

```
>>> find_consonants('baker')
'bkr'
>>> find_consonants('abracadabra')
'brcdbr'
>>> find_consonants('mississippi is the place for me')
'mssssppsthplcfrm'
```

As the argument of the function, use the name that has been supplied.
Replace the `pass` with the correct definition of the function.

For those interested in more of a challenge, you may add 'sometimes y' to the list of vowels. The letter `'y'` is a vowel in "Mary" and "Plymouth" and "play", but not in "youth".

In [18]:
vowels = 'aeiou'
def find_consonants():
    pass

In [45]:
#  STEP BY STEP SOLUTION
# Write a list comprehension that removes the non vowels in a string S
vowels = 'aeiou'
X = 'baker'
[c for c in X if c not in vowels ]

['b', 'k', 'r']

In [46]:
# Turn L into a string
''.join(L)

'bkr'

In [52]:
#  Wrap this code in a function definition. making sure
#  to chose a parameter name X consistent with
#  how you wrote your code and include a return statement

vowels = 'aeiou'

def find_consonants(X):
    return ''.join(c for c in X if c not in vowels)

In [53]:
## test 1
find_consonants('baker')

'bkr'

In [54]:
# test 2
find_consonants('abracadabra')

'brcdbr'

In [55]:
# test 3
find_consonants('mississippi is the place for me')

'msssspp s th plc fr m'

Last example doesn't work as advertised.  Diagnosis: we should
remove spaces along with consonants.  Keep the good ideas
we've used so far.  Redefine what we omit. New version.

In [92]:
omit = vowels + ' '
def find_consonants(X):
   omit = (vowels + ' ')
   return ''.join(c for c in X if c not in omit)

In [57]:
find_consonants('mississippi is the place for me')

'mssssppsthplcfrm'

## Exercise 7

 Write a line of code that operates on `XX` and produces the given output:
   
     In [ ]: XX = 'bad good sad happy'
           YOUR CODE HERE
     Out [ ]: [True, False, True, False]
  
 Hint:  Try a list comprehension that collects
  a list of the results of a Boolean test.  But remember that the elements of a string
  are characters.  You can turn `XX` into a list of length 4 with a simple operation
  discussed in the python_types_nb.

Solution

In [90]:
XX = 'bad good sad happy'
[('ad'in c)for c in XX.split()]

[True, False, True, False]

In [91]:
XX = 'bad good sad glad'
[('ad'in c)for c in XX.split()]

[True, False, True, True]

## Exercise 8

You're having a big party.

The guests will be boys and girls.   The lists are defined for you in the next cell.
There should be 24 pairings since the pairing ('Huey', 'Susan') should count
as the same dance partnership as ('Susan','Huey').

You want to make sure there are enough dance partners and that they are all compatible.  Write a single list comprehension that will compute every possible pairing of a boy with a girl.  

Hint:
The list built by the list comprehension will be a list of tuples of length 2.

In [63]:
boys = 'Huey Fred Jason Ed Albert Louie'.split()
girls = 'Susan Paula Barbara Felicia'.split()
pairs = [(boy , girl) for boy in boys for girl in girls]
pairs, len(pairs)

([('Huey', 'Susan'),
  ('Huey', 'Paula'),
  ('Huey', 'Barbara'),
  ('Huey', 'Felicia'),
  ('Fred', 'Susan'),
  ('Fred', 'Paula'),
  ('Fred', 'Barbara'),
  ('Fred', 'Felicia'),
  ('Jason', 'Susan'),
  ('Jason', 'Paula'),
  ('Jason', 'Barbara'),
  ('Jason', 'Felicia'),
  ('Ed', 'Susan'),
  ('Ed', 'Paula'),
  ('Ed', 'Barbara'),
  ('Ed', 'Felicia'),
  ('Albert', 'Susan'),
  ('Albert', 'Paula'),
  ('Albert', 'Barbara'),
  ('Albert', 'Felicia'),
  ('Louie', 'Susan'),
  ('Louie', 'Paula'),
  ('Louie', 'Barbara'),
  ('Louie', 'Felicia')],
 24)

You suddenly remember that boys don't always dance with girls and girls don't always dance with boys.
And there are people who are neither who are also guests at the party.  You compile a list of neithers.  

Using the `boys` and `girls` lists from the last problem and the `neither` list below,
write another list comprehension that finds **all** the possible dance partners, that is
every pair of guests at the party, regardless of whether they are boys or girls or neither.
But remember: people can't dance with themselves (at least not for the dances that will
played at this party).

If your final list has 169 members, people are dancing with themselves.

If your final list has 156 members, it's because you have both ('Huey', 'Fred') and ('Fred', 'Huey') as possible dance partners. This is a bug.  They are just one happy couple.
One way to fix this is do a set comprehension but then the final set you collect can't
just be a set of two-member tuples or you'll have 156 of them.

The correct answer has 78 dance couples.

In [99]:
neither = 'Lee Sam Kim'.split()
final_list = boys + girls + neither
pairs_all = [(final_list[b], final_list[g])
             for b in range(len(final_list))
             for g in range( b + 1, len(final_list))]
len(pairs_all)

78

## Exercise 10

Write a function that converts temperatures (as
numbers) from Fahrenheit to Celsius scale. The temperature should be
optional and its default value should be 32.  Here are some examples showing
how you **call** the `fahrenheit-to_celsius` function and what it returns:

```
    In [ ]:  fahrenheit_to_celsius(212)
    Out [ ]: 100
    In [ ]: fahrenheit_to_celsius(-40)
    Out [ ]: -40.0
    In [ ]:  fahrenheit_to_celsius(32)
    Out [ ]: 0
    In [ ]:  fahrenheit_to_celsius()
    Out [ ]: 0    
```

Please include a cell printing out your validation tests to show you have checked your work (which of course you **always** do).   
To create new cells to demonstrate all the examples, you hold down the `[Control]` key while pressing `M` and then typing `b` (for "below").

In [72]:
def fahrenheit_to_celsius(f=32):
    return (f - 32) * ( 5 / 9 )

In [73]:
print(fahrenheit_to_celsius(212))
#100
print(fahrenheit_to_celsius(-40))
#-40
print(fahrenheit_to_celsius(32))
#0
print(fahrenheit_to_celsius())
#0

100.0
-40.0
0.0
0.0

In [74]:
print(fahrenheit_to_celsius(300))

print(fahrenheit_to_celsius(-60))

print(fahrenheit_to_celsius(46))

print(fahrenheit_to_celsius(3))

148.88888888888889
-51.111111111111114
7.777777777777779
-16.11111111111111

### Comment

A frequent incorrect response  was to omit making the argument optional,
which would have made the final test fail.

In [ ]:
def fahrenheit_to_celsius_buggy(f):
    return (f-32)*(5/9)

In [ ]:
print(fahrenheit_to_celsius_buggy())
#0

TypeError: fahrenheit_to_celsius_buggy() missing 1 required positional argument: 'f'

## Exercise 11

Write a function that can compute the difference between two temperatures.  Assume the
input temperatures are Fahrenheit and the output temperatures are Celsius. You should take the differences in Celsus, as shown in the examples below.

#### Many people ignored this instruction

Your
definition should **call** the `fahrenheit_to_celsius`  function you defined in the previous problem, so **don't** just copy and paste the code from thefunction body.

Assume the first argument is obligatory and then the second argument is optional.  When the second argument is omitted, just return the result of converting the first argument to Celsius.
Show that you have checked your work, using all of the following examples.

Here is how the function should work:

```
    In [ ]:  fahrenheit_to_celsius_diff(212,32)
    Out [ ]: 100
    In [ ]: fahrenheit_to_celsius_diff(-40, 212)
    Out [ ]: -140.0
    In [ ]:  fahrenheit_to_celsius_diff(212)
    Out [ ]: 100
    In [ ]:  fahrenheit_to_celsius_diff(212, 0)
    Out [ ]: 117.78

```

### Solution

In [75]:

def fahrenheit_to_celsius_diff(f1, f2=32):
    return fahrenheit_to_celsius(f1) - fahrenheit_to_celsius(f2)

In [76]:
print(fahrenheit_to_celsius_diff(212,32))
#    Out [ ]: 100
print(fahrenheit_to_celsius_diff(-40, 212))
#    Out [ ]: -140.0
print(fahrenheit_to_celsius_diff(212))
#    Out [ ]: 100
print(fahrenheit_to_celsius_diff(212, 0))
#    Out [ ]: 117.78

100.0
-140.0
100.0
117.77777777777777

In [81]:
print(fahrenheit_to_celsius_diff(300,30))

print(fahrenheit_to_celsius_diff(-50, 300))

print(fahrenheit_to_celsius_diff(400))

print(fahrenheit_to_celsius_diff(300, 0))

150.0
-194.44444444444446
204.44444444444446
166.66666666666666

## Sudoku:  More list comprehension

This is the dreaded blank page problem I promised you at the beginning of the course.

You are essentially being asked to write a non-trivial function from scratch.  The functions notebook tried to give you some hints, so try to read that material before doing this.  Here we present the helper code and the problem.

For this exercise, execute the code below; we will use it, but only briefly discuss how it works.

The code below is a simplified subset of the code defined in the functions_nb.  This version is slightly simpler than the code there and understanding this part of the code will help you complete this exercise.  You should make sure you understand how it works.

In [83]:
def cross(A, B):
    """
    Cross product of elements in sequence A and elements in sequence B.
    When a and b are strings, we just concatenate them.
    """
    return [a+b for a in A for b in B]


digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)


def grid_values(grid):
    "Convert grid into a dict of {square: char} with '0' or '.' for empties."
    chars = [c for c in grid if c in digits or c in '0.']
    assert len(chars) == 81
    return dict(list(zip(squares, chars)))

digits   = '123456789'
rows     = 'ABCDEFGHI'
cols     = digits
squares  = cross(rows, cols)
unitlist = ([cross(rows, c) for c in cols] +
            [cross(r, cols) for r in rows] +
            [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')])

# Assign to each square s A set of sets of squares
units = dict((s, [u for u in unitlist if s in u])
             for s in squares)
## Assign to each square s a set of squares, namely those that cant have the same value as s.
peers = dict((s, set(sum(units[s],[]))-set([s]))
             for s in squares)

##############################################################################################
#  S o m e    D a t a    t o    P r a c t i c e     O n
##############################################################################################
grid1  = '003020600900305001001806400008102900700000008006708200002609500800203009005010300'
grid1_soln = '483921657967345821251876493548132976729564138136798245372689514814253769695417382'
grid2  = '003020600900305001001806400008102900700000008006708200002689500800203009005010300'
# Some illegal grids (they break the rules of Sudoku)
grid3  = '003020600900305001001806400008102900700000008006708200002609500800203089005010300'
grid4  = '003020609900305001001806400008102900700000008006708200002609500800203009005010300'
grid5  = '003020600900305061001806400008102900700000008006708200002609500800203009005010300'

In [84]:
grid_values(grid3)

{'A1': '0',
 'A2': '0',
 'A3': '3',
 'A4': '0',
 'A5': '2',
 'A6': '0',
 'A7': '6',
 'A8': '0',
 'A9': '0',
 'B1': '9',
 'B2': '0',
 'B3': '0',
 'B4': '3',
 'B5': '0',
 'B6': '5',
 'B7': '0',
 'B8': '0',
 'B9': '1',
 'C1': '0',
 'C2': '0',
 'C3': '1',
 'C4': '8',
 'C5': '0',
 'C6': '6',
 'C7': '4',
 'C8': '0',
 'C9': '0',
 'D1': '0',
 'D2': '0',
 'D3': '8',
 'D4': '1',
 'D5': '0',
 'D6': '2',
 'D7': '9',
 'D8': '0',
 'D9': '0',
 'E1': '7',
 'E2': '0',
 'E3': '0',
 'E4': '0',
 'E5': '0',
 'E6': '0',
 'E7': '0',
 'E8': '0',
 'E9': '8',
 'F1': '0',
 'F2': '0',
 'F3': '6',
 'F4': '7',
 'F5': '0',
 'F6': '8',
 'F7': '2',
 'F8': '0',
 'F9': '0',
 'G1': '0',
 'G2': '0',
 'G3': '2',
 'G4': '6',
 'G5': '0',
 'G6': '9',
 'G7': '5',
 'G8': '0',
 'G9': '0',
 'H1': '8',
 'H2': '0',
 'H3': '0',
 'H4': '2',
 'H5': '0',
 'H6': '3',
 'H7': '0',
 'H8': '8',
 'H9': '9',
 'I1': '0',
 'I2': '0',
 'I3': '5',
 'I4': '0',
 'I5': '1',
 'I6': '0',
 'I7': '3',
 'I8': '0',
 'I9': '0'}

In [85]:
grid3==grid2

False

In [86]:
grid2==grid3

False

In [87]:
grid3==grid4

False

In [88]:
grid3==grid5

False

Your assignment is to write a function that will print out `Invalid` if the grid that is
passed in as an argument is illegal and will print out `Valid` if the grid is legal.  It should work as follows:

```
test(grid_values(grid1))
test(grid_values(grid2))
test(grid_values(grid3))
test(grid_values(grid4))
test(grid_values(grid5))
```

When you finish your code and execute the lines above, the following should print out:

```
   Valid!
   Valid!
   Invalid!
   Invalid!
   Invalid!
```

Here some examples and the expected answers for testing your code.  The expected
output is shown below the cell.

You miught want to test in the cell below that so as not to lose track of what the original  expected output is.

In [97]:
def is_square_valid(values):
#using set to ignore dupes
    seen = set()
    #go through all entries and check if val num
    for num in values:
        if num in ('0', '.'):
            continue
        elif num not in digits:
            return False
        elif num in seen:
            return False
        else: seen.add(num)
    return True

#checking all squares valid
def is_grid_valid(pdict):
  #checking row squares column by column
    for r in rows:
        if not is_square_valid([pdict[r + c] for c in cols]):
            return False
 #now checking columns squares row by row
    for c in cols:
        if not is_square_valid([pdict[r + c] for r in rows]):
            return False
 #now checking each 3 x 3 square
    for rs in ('ABC', 'DEF', 'GHI'):
        for cs in ('123', '456', '789'):
            if not is_square_valid([pdict[r + c] for r in rs for c in cs]):
                return False

    return True

def test(pdict):
    print("Valid!" if is_grid_valid(pdict) else "Invalid!")

In [98]:

pdict1 = grid_values(grid1)  # Valid
pdict2 = grid_values(grid2)  # Valid
pdict3 = grid_values(grid3)  # Invalid
pdict4 = grid_values(grid4)  # Invalid
pdict5 = grid_values(grid5)  # Invalid
test(pdict1)
test(pdict2)
test(pdict3)
test(pdict4)
test(pdict5)

Valid!
Valid!
Invalid!
Invalid!
Invalid!